body {
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #948c8c;
    border-radius: 10px;
    padding: 30px;
    height: 250px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;

}

input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid red;
    background-color: #ffff;
}

h2 {
    color: rgb(60, 60, 198);
    margin-bottom: 30px;
    text-align: center;
}

button {
    border-radius: 5px;
    padding: 10px;
    background-color: #2d86d0;
}

button:hover {
    background-color: #008cff;
}